.nav-left{
     background-color: rgb(182, 195, 196);
     top: 80px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    text-shadow: 1cap;
    margin-top: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left:20rem;
    margin-right: 20rem;
    border-radius: 0.25rem;
}
p{
    margin-left: 1rem;
    font-size: x-large;
    color:black;
}

.upcoming{
  margin:0.25rem 20rem;
  margin-bottom: 4rem;
  border-radius: 0.25rem;
}
.upcoming:hover{
  background-color: #f2f2f2;
  
  margin-bottom: 2rem;
}

.mat-cell div:hover {
  background-color: #f2f2f2;
}
.mat-elevation-z8{
  background-color:azure;
  
}
.problem-div{
  color: black;
}
.problem-container{
  margin-bottom: 15rem;
}
