<div class="problem-container">
    
        <div class="nav-left">
       <p class="slogan">Contest</p>
    </div>
        <div class="upcoming">
           <table mat-table   class="mat-elevation-z8" [dataSource]="problemsList">

               <!-- Code Column -->
          
             
               <!-- Name Column -->
               <ng-container matColumnDef="name" class="upcoming">
                 
                 
                 <td mat-cell *matCellDef="let element">  
                    <div class="problem-div">{{element.title}}</div>
                </td>
                
               </ng-container>
             
               
             
               
               <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="goToProblem(element.id)"></tr>
             </table>
        </div>
       
</div>
