<div class="nav navbar navbar-expand-lg shadow">
  <a class="navbar-brand" routerLink="/home">CodeMithra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/practice" routerLinkActive="active">Problems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contests" routerLinkActive="active">Contests</a>
      </li>
      <li class="nav-right">
        <button  class="nav-link btn btn-primary" routerLink="/login" routerLinkActive="active">Login</button>
      </li>
    </ul>
  </div>
</div>
