<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/deeppurple-amber.css" rel="stylesheet">

<div class="contests-page">
  <div class="contest-table">
    <!-- ongoing-contests -->
    <!-- ongoing-contests -->
    <!-- ongoing-contests -->
    <div class="ongoing-contests">
      <div class="nav">
       <p>Ongoing-Contests</p>
    </div>
      <div>
        <table
          mat-table
          class="mat-table mat-elevation-z8 ongoing custom-table"
          [dataSource]="dataSourceToday"
        >
          <!-- Code Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Id</th>
            <td mat-cell *matCellDef="let element" class="mat-cell mat-index-cell">{{ element.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Name</th>
            <td mat-cell *matCellDef="let element" class="mat-cell mat-name-cell"><span (click)="goToContest(element.id)">{{ element.name }}</span></td>
          </ng-container>

          <!-- Start Column -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Start</th>
            <td mat-cell *matCellDef="let element">{{ element.start }}</td>
          </ng-container>

          <!-- Duration Column -->
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Duration</th>
            <td mat-cell *matCellDef="let element" class="mat-cell">{{ element.duration }}</td>
          </ng-container>

          <!-- Starts In Column -->
          <ng-container matColumnDef="startsIn">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Starts In</th>
            <td mat-cell *matCellDef="let element" class="mat-cell">{{ element.startsIn }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns" (click)="goToContest(element.id)"></tr>
        </table>
      </div>
    </div>

    <!-- upcoming-contests -->
    <!-- upcoming-contests -->
    <!-- upcoming-contests -->
    <div class="upcoming-contests">
      <div class="ongoing-contests">
      <div class="nav">
       <p>Upcoming-Contests</p>
    </div>
      <div>
        <table
          mat-table
          class="mat-table mat-elevation-z8 upcoming custom-table"
          [dataSource]="dataSourceFuture"
        >
          <!-- Code Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Id</th>
            <td mat-cell *matCellDef="let element">
              <div>
                
                  {{ element.id }}
                
              </div>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name" class="mat-header-cell">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"><span (click)="goToContest(element.id)">{{ element.name }}</span></td>
          </ng-container>

          <!-- Start Column -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Start</th>
            <td mat-cell *matCellDef="let element">{{ element.start }}</td>
          </ng-container>

          <!-- Duration Column -->
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Duration</th>
            <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
          </ng-container>

          <!-- Starts In Column -->
          <ng-container matColumnDef="startsIn">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Starts In</th>
            <td mat-cell *matCellDef="let element">{{ element.startsIn }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns" (click)="goToContest(element.id)"></tr>
        </table>
      </div>
    </div>

    <div class="past-contests">
      <div class="ongoing-contests">
      <div class="nav">
       <p>Past-Contests</p>
    </div>
      <div>
        <table
          mat-table
          class="mat-table mat-elevation-z8 upcoming custom-table"
          [dataSource]="dataSourcePast"
        >
          <!-- Code Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Id</th>
            <td mat-cell *matCellDef="let element"><div>
                
                 {{ element.id }}
                
              </div></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Name</th>
            <td mat-cell *matCellDef="let element"><span (click)="goToContest(element.id)">{{ element.name }}</span></td>
          </ng-container>

          <!-- Start Column -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Start</th>
            <td mat-cell *matCellDef="let element">{{ element.start }}</td>
          </ng-container>

          <!-- Duration Column -->
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Duration</th>
            <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
          </ng-container>

          <!-- Starts In Column -->
          <ng-container matColumnDef="startsIn">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Starts In</th>
            <td mat-cell *matCellDef="let element">{{ element.startsIn }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns" (click)="goToContest(element.id)"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
